*{
   background: #F3F5FC; 
   font-family: 'Inter';
   font-weight: 400;
   font-size: 32px;
   line-height: 150%;
}

.Logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}
:placeholder { color: #0A3871;}
.text-area:focus {
    outline: none;
}


